APP_PORT=8080
DB_HOST=127.0.0.1
DB_PORT=1521
DB_SERVICE=FREEPDB1
DB_USER=SIGEFER_APP
DB_PASSWORD=CAMBIAR_CONTRASENA
TAX_RATE=0.15
SESSION_HOURS=12
MAX_LOGIN_ATTEMPTS=5

# Consumidor IoT MQTT
MQTT_BROKER=tcp://127.0.0.1:1883
MQTT_CLIENT_ID=sigefer-iot-consumer
MQTT_USERNAME=sigefer_backend
MQTT_PASSWORD=CAMBIAR
MQTT_TOPIC=sigefer/iot/+/telemetria
